<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="payment.dao.PayRefMapper">
    <insert id="insertPayRef" parameterType="payRefDto">
        INSERT INTO payment_ref VALUES (
          #{refDate}
        , #{seq}

    </insert>
    
    
    <select id="selectMaxSeq" parameterType="string" resultType="string">
        select max(seq) seq from PAYMENT_REF where ref_date = #{refDate}
         
    </select>
    
    
    
</mapper>